* {
  font-family: poppins;
}
.banner {
  background: url("https://img.freepik.com/premium-vector/watercolor-sunflower-background-design_118960-4183.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 20%;
  color: #ffffff;
}

#produk:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
